.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}

a.ctaLink:hover {
  background-color: var(--color-brand--3);
  box-shadow: 0 0.6rem 1.4rem rgba(36, 42, 46, 0.2);
}
